
// https://github.com/chriskempson/tomorrow-theme
//Tomorrow Night Eighties

$current-line: #393939;
$selection: #515151;
$foreground: #ccc;

// GitHub
$plain: #333;
$comment: #969896;

$magenta: #d73a49; // "function"
$lavendar: #6f42c1; // function name
$blue: #005cc5;
$navy: #005cc5;
$orange: orange;
$aqua: #0086b3;

$gray-lighter: $gray-200;
$gray-dark: $gray-800;

code {
    white-space: nowrap;
}
blockquote code {
    color: inherit;
}

.highlight {
    margin: ($spacer * 2) auto;
    padding: 0.5em 0;
    // width: 100%;

    background: white;
    overflow: auto;

    box-shadow: 0 0 10px rgba(#666, .07);

    td {
        vertical-align: top;
    }

    pre {
        margin: auto;
    }

    a {
        color: inherit;
    }

    .code {
        vertical-align: top;
        padding: 0 .5em;
    }

    .gutter {
        opacity: .25;
        padding: 0 .5em;

        pre {
            color: #666;
            text-align: right;
        }
    }
    .line {
        line-height: 1.6em;
        font-weight: normal;
    }

    .tag {
        font-size: 1em;
        font-weight: normal;
    }

    // terminal style
    &.bash,
    &.sh {
        background: #2d2d2d;
        .line,
        .string {
            color: $gray-lighter;
        }
    }


    //
    .comment,
    .title {
        color: $comment;
    }

    &.php {

        .doctag,
        .function,
        .keyword {
            color: $magenta;
        }

        .title {
            color: $aqua;
        }

        .function {
            .title { color: $lavendar; }
            .params { color: $plain; }
        }

    } // php

    .variable,
    .attribute,
    .tag,
    .regexp,
    .xml .tag, .title,
    .xml .pi,
    .xml .doctype,
    .html .doctype,
    .css .id,
    .css .class,
    .css .pseudo {
        color: $lavendar;
    }

    .string,
    .value,
    .inheritance,
    .header,
    .ruby .symbol,
    .xml .cdata {
        color: $navy;
    }

    .css .hexcolor {
        color: $aqua;
    }

    &.diff {
        .deletion {
            color: $red;
        }
        .addition {
            color: $green;
        }
    }

    .javascript .function {
        color: $purple;
    }

} // .highlight

