nav.primary {
    flex-shrink: 0; // body is flex-column
    display: flex;
    flex-direction: column;
    padding-top: .5rem;
    padding-bottom: .5rem;

    @include media-breakpoint-up(md) {
        flex-direction: row;

        .items { margin-left: auto; }
    }

    .brand {
        color: $brand-primary;
        padding-top: .25rem;
        padding-bottom: .25rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        text-decoration: none;
    }

    .items {
        display: flex;
    }

    .items a {
        display: inline-block;
        position: relative;
        text-decoration: none;
        padding-top: .425rem;
        padding-bottom: .425rem;

        &:after {
            position: absolute;
            left: 0%;
            bottom: -3px;
            content: '';
            width: 100%;
            border-bottom: 2px solid rgba($purple, .5);
            transition: all 0.1s linear;
            transform: scaleX(0);
        }
        &:hover:after {
            transform: scaleX(1);
        }

        &.active:after {
            transform: none;
            border-bottom: 2px solid $purple;
        }

        + a {
            margin-left: $spacer;
        }
    }
}


.page-nav {
    display: flex;
    justify-content: center;

    .page-number {
        padding: 0 .5em;
        margin: 0 .5em;
    }
    .extend {
        margin: 0 1em;
    }
}
