.nav-primary {
    padding-left: 0;
    padding-right: 0;

    .navbar-brand {
        color: $brand-primary;
    }

    .container {
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(md) {
            flex-direction: row;

            .nav { margin-left: auto; }
        }
    }

    .nav-item {
        position: relative;
        // border-bottom: 2px solid transparent;

        &:after {
            position: absolute;
            left: 0%;
            bottom: -3px;
            content: '';
            width: 100%;
            border-bottom: 2px solid rgba($purple, .5);
            transition: all 0.1s linear;
            transform: scaleX(0);
        }
        &:hover:after {
            transform: scaleX(1);
        }

        &.active:after {
            transform: none;
            // border-bottom-color: rgba($purple, .5);
            border-bottom: 2px solid $purple;
        }
    }
}
