<div class="container">
<h1 class="article-title text-xs-center my-2">{{ post.title }}</h1>
</div>

<section class="article-meta">
    <p class="article-date">{{ date(post.date, 'MMMM DD YYYY') }}</p>
</section>

{{ post.content }}

{% if page.canonical %}
    <div class="my-3 text-muted font-italic">
        Originally published at <a href="{{ post.canonical.href }}">{{ post.canonical.source }}</a>
    </div>
{% endif %}
