<div class="home-box" style="max-width: none;
    background-image: url('<%= post.banner %>');
"
>
    <div class="contained">
        <%- partial('./article-row-item', {post: post}) %>
    </div>
</div>
