<nav class="primary container">
    <a class="brand" href="/">
        {{ config.title }}
        <small class="text-muted" title="It's just the letters of my name in alphabetical order.">@aaemnnosttv</small>
    </a>

    <div class="items">
        {% for slug, text in config.nav_primary %}
            <a class="{{ active if is_active(slug) }}" href="{{ url_for(slug) }}/">{{ text }}</a>
        {% endfor %}

        {% for network, url in config.network %}
            {{ link_to(url, network, { class: "social", external: true }) }}
        {% endfor %}
    </div>
</nav>
