<div class="prevnext wide m-y-2">
    {% for which, post in {prev: page.next, next: page.prev} %}
    {% if post %}
    <div class="post-adj adj-{{ which }}">
        <small class="d-block adj-label"></small>
        <a href="{{ url_for(post.path) }}" class="adj-link">{{ post.title }}</a>
    </div>
    {% endif %}
    {% endfor %}
    </div>
</div>
