
html, body {
    height: 100%;
    overflow: auto;
}

html {
    @include gradient-directional(mintcream, ivory);
}
body {
    background-color: transparent;
    @include gradient-directional(rgba(orange, .10), transparent, 200deg);


    display: flex;
    flex-direction: column;
}

img {
    @include img-fluid;
}
.stretch img {
    width: 100%;
}

.video-container {
    @extend .embed-responsive;
    @extend .embed-responsive-16by9;
}

#content {
    flex-grow: 1;
    flex-shrink: 0;

    > *:not(.container) {
        max-width: 680px;
        margin-left: auto;
        margin-right: auto;
    }
    > .wide {
        max-width: 1200px;
    }
}

main {
    a {
        text-decoration: none !important;
        border-bottom: 2px solid rgba($green, .35);
        transition: color .5s, border-bottom-color .5s;

        &:hover {
            border-bottom-color: rgba($red, .8);
        }

        code {
            background-color: transparent;
        }
    }
    h1, h2, h3, h4 {
        code {
            background: transparent;
            box-shadow: none;
        }
    }
}


blockquote {
    @extend .blockquote;
    color: $text-muted;

    a {
        color: inherit;
    }

    :last-child {
        margin-bottom: 0;
    }

    #content > & {
        max-width: 860px !important;
        margin-top: ($spacer-y * 2);
        margin-bottom: ($spacer-y * 2);
    }
}

p + h2,
p + h3,
p + h4 {
    margin-top: ($spacer-y * 2);
}


