
html, body {
    height: 100%;
    overflow: auto;
}

html {
    @include gradient-directional(mintcream, ivory);
}
body {
    background-color: transparent;
    @include gradient-directional(rgba(orange, .10), transparent, 200deg);


    display: flex;
    flex-direction: column;
}

img {
    @include img-fluid;
}
.stretch img {
    width: 100%;
}

#content {
    flex-grow: 1;

    > * {
        max-width: 680px;
        margin-left: auto;
        margin-right: auto;
    }
}

main {
    a {
        text-decoration: none !important;
        border-bottom: 2px solid rgba($green, .35);
        transition: color .5s, border-bottom-color .5s;

        &:hover {
            border-bottom-color: rgba($red, .8);
        }

        code {
            background-color: transparent;
        }
    }
    h1, h2, h3, h4 {
        code {
            background: transparent;
            box-shadow: none;
        }
    }
}


blockquote {
    @extend .blockquote;
    color: $text-muted;

    a {
        color: inherit;
    }

    :last-child {
        margin-bottom: 0;
    }

    #content > & {
        max-width: 860px;
    }
}

.nobr {
    br { display: none; }
}

.taggish {
    font-size: 0.6em;
    background: rgba($yellow, 0.3);
    padding: 1px 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    a {
        color: inherit;
        border: none;
    }
}


