
@mixin center-content() {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin main-container() {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
}
