
$font-size-root: 19px;
$body-color: #47525d;

$blue: #2366CC;
$green: #02E058;
$yellow: #FFCC50;
$red: #FF645F;
$purple: #8926CC;

$code-bg: rgba(white, .75);
$code-color: $body-color;

$link-color: darken($body-color, 8%);

$font-family-sans-serif: "Source Sans Pro", sans-serif;

$brand-primary: $red;
