$enable-flex: true;
$font-size-root: 19px;
$body-color: #47525d;

$blue: #2366cc;
$green: #02e058;
$yellow: #ffcc50;
$red: #ff645f;
$purple: #8926cc;

// $code-bg: transparent;
$code-color: desaturate($purple, 40);

$link-color: darken($body-color, 8%);

$font-family-sans-serif: 'Source Sans Pro', sans-serif;

$brand-primary: $red;
$primary: $red;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
