{% set featuredPost = site.posts.findOne({slug: config.featured_post}) %}

{% if is_home() and featuredPost %}
    {{ partial('partial/home-box', { post: featuredPost }) }}
{% endif %}

{% for post in page.posts.toArray() %}
    {% if post.slug != config.featured_post %}
        {{ partial('partial/article-row-item', { post: post }) }}
    {% endif %}
{% endfor %}

{{ partial('widget/paginator') }}
