<!DOCTYPE html>
<!--
##################################################

 Greetings source-diver, and welcome to my blog.
 This site is currently built with Hexo (hexo.io),
 and hosted on GitHub Pages. Enjoy your stay.

##################################################
-->
<html>
<head>
    {{ partial('partial/head') }}
</head>
<body class="{{ bodyClasses() }}">

    {{ partial('partial/nav') }}

    <main id="content">
        {{ body }}
    </main>

    {{ partial('partial/footer') }}
    {{ partial('partial/scripts') }}
</body>
</html>
