<div class="w-100">

    {{ page.content }}

    <form netlify name="contact" netlify-honeypot="challenge" action="{{ url_for('got-it') }}" class="m-t-1">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="By what name are you known?">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <input class="form-control" type="email" name="_replyto" placeholder="To which email shall I reply?">
                </div>
            </div>
        </div>
        <div class="form-group">
            <textarea name="message" rows="7" class="form-control" placeholder="What sayest thee?"></textarea>
        </div>
        <div class="form-group">
            <div data-netlify-recaptcha="true"></div>
            <div style="position: fixed; z-index: -10; width: 1px; height: 1px; overflow: hidden;">
                <input type="text" name="challenge">
            </div>
            <div class="mx-auto" style="width: 50%; min-width: 15em;">
                <input class="btn btn-primary btn-block mx-auto" type="submit" value="Send">
            </div>
        </div>
    </form>

</div>
