<div class="w-100">

    {{ page.content }}

    <form netlify name="contact" action="{{ url_for('got-it') }}" class="m-t-1">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="By what name are you known?">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <input class="form-control" type="email" name="_replyto" placeholder="To which email shall I reply?">
                </div>
            </div>
        </div>
        <div class="form-group">
            <textarea name="message" rows="7" class="form-control" placeholder="What sayest thee?"></textarea>
        </div>
        <div class="form-group">
            <input type="text" name="_gotcha" />
            <input class="btn btn-primary btn-block mx-auto" style="max-width: 50%;" type="submit" value="Send">
        </div>
    </form>

</div>
