<div class="sharing m-y-2">
    <span class="text-muted">You know what to do.</span>
    <div class="share share-twitter">{{ partial('twitter') }}</div>
    <div class="share share-facebook">{{ partial('facebook-like') }}</div>
</div>
