
.home {
    .nav-primary {
        height: 0;
        padding: 0;
        overflow: visible;
    }
    main {
        padding-left: 0;
        padding-right: 0;
    }
    article {
        margin: ($spacer-y * 2) auto;
    }
    .article-title {
        line-height: 1.4em;
    }
    .col-date {
        padding-top: .3em;
        padding-bottom: .3em;
    }
    .date {
        color: $text-muted;

        span {
            @include media-breakpoint-up(sm) {
                display: block;
            }
        }
    }

    .home-box {
        background-size: cover;
        background-position: center;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        article {
            background-color: rgba(#f9fcee, .18);
        }
        .article-title a {
            display: block;
            color: white;
            text-shadow: -1px -1px 1px rgba(black, 0.4);
            border-bottom-color: transparent;
            &:hover {
                color: lighten($green, 30%);
            }
        }
        .date {
            color: rgba($gray-lighter, .7);
        }
        .taggish {
            color: rgba(white, .5);
            background-color: transparent;
            border: 1px solid rgba(white, .5);
        }
    }
    .home-box .contained {
        @include main-container;
    }
}
