
main.index {
    article {
        margin: ($spacer-y * 2) auto;
    }
    .article-title {
        line-height: 1.4em;
    }
    .col-date {
        padding-top: .3em;
        padding-bottom: .3em;
    }
    .date span {
        @include media-breakpoint-up(sm) {
            display: block;
        }
    }
}
