.layout--page {
    .nav-primary {
        margin-bottom: ($spacer * 2);
    }
}

.layout--wp-cli-commands {
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: $gray-dark;
    }
}

.layout--page-contact main {

    h1 {
        text-align: center;
        margin-bottom: 1em;
    }

    @include center-content();
}

.layout--page-contact {
     main {
        @include center-content();
     }
}
